<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  </head>
  <body class="bg-light">
      <!--nav aria-label="breadcrumb" class="fixed-top mb-5">
          <ol class="breadcrumb">
              <li class="breadcrumb-item ml-5">
                  <a href="/" class="text-decoration-none">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">About</li>
          </ol>
      </nav-->
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top mb-4 text-light">
            <a class="navbar-brand" href="/">
                <svg class="bi bi-house-fill text-light" width="30" height="30" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-light" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-light">
                    <li class="nav-item text-light">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item text-light">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>

        {{{body}}}


      <div class="fixed-bottom bg-light text-secondary pt-3 mt-5">
          <p class="text-center">Mavhungu @ 2020</p>
      </div>
    <script src="/javascripts/jquery.js"></script>
    <!--script src="/javascripts/popper.js"></script>
    <script src="/javascripts/popper-utils.js"></script-->
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>