<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  </head>
  <body class="">
      <nav aria-label="breadcrumb" class="fixed-top mb-5">
          <ol class="breadcrumb">
              <li class="breadcrumb-item ml-5">
                  <a href="/" class="text-decoration-none">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">About</li>
          </ol>
      </nav>

      <div class="bg-light">{{{body}}}</div>


      <div class="fixed-bottom bg-light text-secondary pt-3 mt-5">
          <p class="text-center">Mavhungu @ 2020</p>
      </div>
    <script src="/javascripts/jquery.js"></script>
    <!--script src="/javascripts/popper.js"></script>
    <script src="/javascripts/popper-utils.js"></script-->
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>